@import "tailwindcss";

@theme {
  --color-root-primary: #37353e;
  --color-primary: #44444e;
  --color-text-primary: #d3dad9;
  --color-text-secondary: #fcf9ea;
}

@layer {
  * {
    scroll-behavior: smooth;
  }
}
